.background {
  background-image: url("../images/Horizon Wallpaper_portal Login.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App-header {
  /* background: linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%);
  background: -webkit-linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%);
  background: -moz-linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%);
  background: -o-linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%);
  background: -ms-linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%); */
  min-height: calc(100vh - 111px);
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
}

.click-box-student {
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: #282828a4; */
  align-items: stretch;
  justify-content: center;
  /* border-radius: 20px; */
  cursor: pointer;
  /* border: 2px #6e836f solid; */
  /* border: 2px var(--white) solid; */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.click-box-student:hover {
  /* background-color: #282828; */
  color: var(--white);
}

.support {
  display: flex;
  padding: 30px 5px 5px;
  z-index: 9;
}

@media screen and (max-width: 900px) {
  .support {
    padding-top: 80px;
  }
}

.mt-mb-3 {
  margin-top: 30px;
}

@media screen and (max-width:900px) {
  .support {
    /* top: 60px;
    right: 10px; */
    z-index: 1000;
  }

  .mt-mb-3 {
    margin-top: 60px !important;
  }
}

.support a {
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.footer {
  height: 20px;
  width: 100%;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--white);
}

@media screen and (max-width: 900px) {
  .App-header {
    padding-bottom: 80px;
  }
}

.panels {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 25px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

.panels img {
  max-height: 200px;
}

.panels a {
  color: #6e836f;
}

.panels a:hover {
  color: #6e836f;
  text-decoration: none;
}

.btn.btn-panel {
  border-radius: 20px;
  border: 1px #fff solid;
  background-color: transparent;
  color: #fff;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.btn-panel:hover {
  background-color: #6e836f;
  color: #fff;
  border: 1px #6e836f solid;
}

.btn.btn-support {
  border-radius: 5px;
  border: 1px #fff solid;
  background-color: transparent;
  color: #fff;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.btn-support:hover {
  background-color: #6e836f;
  color: #fff;
  border: 1px #6e836f solid;
}

.btn.btn-home {
  border-radius: 20px;
  border: 1px #6e836f solid;
  background-color: transparent;
  color: #6e836f;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.btn-home:hover {
  background-color: #556957;
  color: #fff;
  border: 1px #556957 solid;
}

.footer .btn.btn-link {
  font-size: 16px;
}



.ribbon {
  background: #6e836f;
  display: inline-block;
  color: #f4f4f4;
  padding: 0.5em 0.7em;
  font-weight: 900;
  letter-spacing: 0.2em;
  position: relative;
  font-size: 1.0em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  width: 90%;
  text-align: center;
  transform: rotate(-10deg) skew(-20deg, 10deg);
}

.ribbon:before,
.ribbon:after {
  content: "";
  width: 0;
  height: 2em;
  display: block;
  background: #6e836f;
  position: absolute;
  border-style: solid;
  border-width: 0.5em;
  z-index: -1;
  transform: translateZ(-1em);
}

.ribbon:before {
  left: -0.5em;
  top: 0.5em;
  border-color: #5c6b5d #475348 #5c6b5d #5c6b5d;
}

.ribbon:after {
  right: -0.5em;
  top: -0.5em;
  border-color: #5c6b5d #5c6b5d #5c6b5d #475348;
}

@media screen and (max-width: 900px) {
  .ribbon {
    font-size: 0.8em;
  }
}