.App-header {
  /* background: linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%);
  background: -webkit-linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%);
  background: -moz-linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%);
  background: -o-linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%);
  background: -ms-linear-gradient(to bottom left, #282828 0%, rgb(165, 167, 56) 10%, rgb(37, 94, 35) 79%, #282828 100%); */
  background-image: url("../images/Horizon Wallpaper_portal Login.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* min-height: calc(100vh - 60px); */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
}

.click-box-student {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #282828a4;
  align-items: stretch;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  border: 2px #6e836f solid;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.click-box-student:hover {
  background-color: #282828;
  color: var(--white);
}
.support {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 9;
}
.mt-mb-3 {
  margin-top: 30px;
}

@media screen and (max-width:900px) {
  .support {
    top: 55px;
    right: 10px;
    z-index: 1000;
  }
  .mt-mb-3 {
    margin-top: 50px!important;
  }
}
.support a {
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
.footer {
  height: 60px;
  width: 100%;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--white);
}

.panels {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 25px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

.panels img {
  max-height: 200px;
}

.panels a {
  color: #6e836f;
}

.panels a:hover {
  color: #6e836f;
  text-decoration: none;
}

.btn.btn-panel {
  border-radius: 20px;
  border: 1px #fff solid;
  background-color: transparent;
  color: #fff;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.btn-panel:hover {
  background-color: #6e836f;
  color: #fff;
  border: 1px #6e836f solid;
}

.footer .btn.btn-link {
  font-size: 16px;
}



.ribbon {
  background: #4b9ae5;
  display: inline-block;
  color: #f4f4f4;
  padding: 0.5em 0.7em;
  font-weight: 900;
  letter-spacing: 0.2em;
  position: relative;
  font-size: 1.0em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  width: 100%;
  text-align: center;
  transform: rotate(-10deg) skew(-20deg, 10deg);
}
.ribbon:before, .ribbon:after {
  content: "";
  width: 0;
  height: 2em;
  display: block;
  background: #4993da;
  position: absolute;
  border-style: solid;
  border-width: 0.5em;
  z-index: -1;
  transform: translateZ(-1em);
}
.ribbon:before {
  left: -0.5em;
  top: 0.5em;
  border-color: #358de2 #1d74c7 #358de2 #358de2;
}
.ribbon:after {
  right: -0.5em;
  top: -0.5em;
  border-color: #358de2 #358de2 #358de2 #1d74c7;
}