.home {
  position: absolute;
  top: 20px;
  left: 20px;
}

.home a {
  color: #282828;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
.card {
  padding: 20px;
  border-radius: 20px;
  border: #282828 2px solid;
  box-shadow: 5px 10px 30px 5px #2828287a;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* .card:hover {
  box-shadow: 0px 15px 10px #2828287a;
} */
h1 > span {
    color: rgb(226, 189, 87);
}
.intro .title {
    font-size: 22px;
    color: #426959;

    transform-style: preserve-3D;   /*added*/
  }
  .intro .title::before {
    content: "";
    position: absolute;
    left: 70px;
    background-color: #fbbc1a;
    width: 140px;
    height: 1px;
    top: 50%;
    z-index: -1;
    transform: translateZ(-1px); /*added*/
  }
  
  .intro .title::after {
    content: "";
    position: absolute;
    right: 70px;
    background-color: #fbbc1a;
    width: 140px;
    height: 1px;
    top: 50%;
    z-index: -1;
    transform: translateZ(-1px); /*added*/
  }

.border-image {
    border-image-source: linear-gradient(to bottom,#fbbc1a 0%,  #39554a 100%);
  }
  
  .img-border, .img-border-invert {
    position: relative;
    max-height: 100%;
    height: auto;
    border-image-slice: 1;
    transform-style: preserve-3D;
  }
  
  .img-border::after {
    content: "";
    position: absolute;
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    width: 99%;
    height: 100%;
    left: auto;
    bottom: -10%;
    right: 7%;
    border-image: inherit;
    z-index: -1;
    transform: translateZ(-1px);
  }
  
  .img-border-invert::after {
    content: "";
    position: absolute;
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    width: 99%;
    height: 100%;
    right: auto;
    bottom: -10%;
    left: 7%;
    border-image: inherit;
    z-index: -1;
    transform: translateZ(-1px);
  }

  .img-sec {
    max-height: 120px;
  }
  
  @media screen and (max-width: 992px) {
    .img-sec {
      height: auto;
      width: 100%;
    }
    .sec2 {
      margin-top: 60px;
    }  
  }