.home {
  position: absolute;
  top: 20px;
  left: 20px;
}

.home a {
  box-shadow: none;
  color: #282828;
  outline: none;
  text-decoration: none;
}
.card {
  padding: 20px;
  border: #282828 2px solid;
  border-radius: 20px;
  box-shadow: 5px 10px 30px 5px #2828287a;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* .card:hover {
  box-shadow: 0px 15px 10px #2828287a;
} */
h1 > span {
  color: rgb(226, 189, 87);
}
.intro .title {
  color: #426959;
  font-size: 22px;

  transform-style: preserve-3D; /*added*/
}
.intro .title::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70px;
  width: 140px;
  height: 1px;
  background-color: #fbbc1a;
  content: "";
  transform: translateZ(-1px); /*added*/
}

.intro .title::after {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 70px;
  width: 140px;
  height: 1px;
  background-color: #fbbc1a;
  content: "";
  transform: translateZ(-1px); /*added*/
}

.border-image {
  border-image-source: linear-gradient(to bottom, #fbbc1a 0%, #39554a 100%);
}

.img-border,
.img-border-invert {
  position: relative;
  height: auto;
  max-height: 100%;
  border-image-slice: 1;
  transform-style: preserve-3D;
}

.img-border::after {
  position: absolute;
  z-index: -1;
  right: 7%;
  bottom: -10%;
  left: auto;
  width: 99%;
  height: 100%;
  border-width: 2px;
  border-style: solid;
  border-image: inherit;
  border-image-slice: 1;
  content: "";
  transform: translateZ(-1px);
}

.img-border-invert::after {
  position: absolute;
  z-index: -1;
  right: auto;
  bottom: -10%;
  left: 7%;
  width: 99%;
  height: 100%;
  border-width: 2px;
  border-style: solid;
  border-image: inherit;
  border-image-slice: 1;
  content: "";
  transform: translateZ(-1px);
}

.img-sec {
  max-height: 120px;
}

.sec2 a {
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

.sec2 .title {
  margin-bottom: 45px;
  font-size: 34px;
}

@media screen and (max-width: 992px) {
  .img-sec {
    width: 100%;
    height: auto;
  }
  .sec2 {
    margin-top: 30px;
  }
}
