:root {
  --white: #fff;
  --light: rgba(211, 211, 211, 0.6);
  --light2: rgba(223, 223, 223, 0.4);
  --boxes: #282828a4;
  --footer: #15284b;
  --title: #3b4351;
  --hcs_green: rgb(17, 87, 64);
  --hcs_gold: #ffc72c;
  --hcs_yellow: #fce300;
}

body {
  margin: 0;
  color: var(--boxes);
  font-family: "HelveticaNeue-Medium", "HelveticaNeue-Thin", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 12px;
}

h1,
h2,
h3,
h4 {
  color: var(--title);
  font-family: "HelveticaNeue-Heavy", "HelveticaNeue-BlackExt", Arial,
    sans-serif !important;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  font-family: "HelveticaNeue-Medium", "HelveticaNeue-Thin", Arial, sans-serif !important;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "HelveticaNeue-Medium", "HelveticaNeue-Thin", Arial, sans-serif !important;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "HelveticaNeue-Medium", "HelveticaNeue-Thin", Arial, sans-serif !important;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row .col-10.col-lg-5 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.h-100 {
  height: 100% !important;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.align-items-center {
  align-items: center !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-stretch {
  justify-content: stretch !important;
}

.justify-content-space {
  justify-content: space-evenly !important;
}

.bg-white {
  background-color: var(--white);
}

.bg-light {
  background-color: var(--light);
}

.bg-boxes {
  background-color: var(--boxes);
}

.bg-footer {
  background-color: var(--hcs_green);
}

.z-index {
  z-index: 9;
}

.columns-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.4rem;
  margin-left: -0.4rem;
}
.section:nth-child(3) {
  position: relative;
  padding-top: 10px;
  padding-bottom: 80px;
}

.section {
  position: relative;
  padding-top: 0px;
  padding-bottom: 80px;
}
.section:nth-child(3) {
  padding-top: 20px;
  padding-bottom: 80px;
}
.section:nth-child(8) {
  padding-top: 0px;
  padding-bottom: 0px;
}
.section-xl {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

.overlay {
  position: relative;
}

.overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.overlay::after {
  background-color: rgba(236, 236, 236, 0.727);
}

.overlay-404 {
  position: relative;
}

.overlay-404::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.overlay-404::after {
  background-color: #86868646;
}

.shape:not([class*="shape-blur"]) {
  overflow: hidden;
}

.shape-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}

.shape {
  position: absolute;
  pointer-events: none;
}

.shape:not([class*="shape-blur"]) > * {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.shape-fluid-x > * {
  width: 100%;
  height: auto;
}

.shape-bottom > * {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

.shape > * {
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}
